p {
    color: red; /*color de texto*/
    
    font-family: 'Courier New', Courier, monospace; /*tipografia: 'primer opcion', 'segunda opcion, 'tercer opcion' (si el nombre de la tipografia tiene espacios va entre "")*/
    
    font-size: 16px; /*Tamaño del texto*/
    
    font-weight: 100; /*Grosor de las letras, con bold queda en negritas, los valores van de 100 a 900 de cien en cien*/ 
    
    /*Inclinacion de las letras de menor a mayot*/
    font-style: normal;
    font-style: oblique;
    font-style: italic;
    font-style: oblique 40deg; /*Defino un grado de inclinacion de 40*/

    /*Alinea el texto dentro de su contenedor*/
    text-align: left; /*alinea el texto de izquierda a derecha*/
    text-align: right; /*alinea el texto  de derecha a izquierda*/
    text-align: center; /*alinea el texto en el centro*/
    text-align: justify; /*alinea el texto para que cada linea pegue un salto en el final de la linea*/

    text-decoration: underline; /*subraya la parte de abajo del texto*/
    text-decoration: underline; /*subraya la parte de arriba del texto*/
    text-decoration: line-through; /*subraya la parte del medio del texto*/
    text-decoration: overline underline line-through; /*se pueden convinar*/
    text-decoration: none; /*Quita cualquier decoracion que tenga, util en los <a></a>*/

    line-height: 2; /*Define el espacio entre renglones del texto*/
    letter-spacing: 2px; /*Define el espacio entre las letras*/

    text-transform: uppercase; /*Hace que todo el texto este en mayuscula*/
    text-transform: lowercase; /*Hace que todo el texto este en minuscula*/
    text-transform: capitalize; /*Hace que cada palabra empiece con mayuscula*/
}