input {
    width: 90%; /*90% del ancho del contenedor que lo contiene en este caso el form*/
    height: 50% /*50% del alto del contenedor que lo contiene en este caso el form*/
}

form {
    width: 400px;
}